@tailwind base;
@tailwind components;
@tailwind utilities;

/* From: https://stackoverflow.com/questions/69400560/how-to-change-scrollbar-when-using-tailwind-next-js-react */
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 6px;
  }
  .scrollbar::-webkit-scrollbar-track {
    background: #D9BCA3;
  }
  .placeholder-italic::-webkit-input-placeholder {
    font-style: italic;
  }
}